.header {
  padding: 20px; 
  text-align: center; 
  background: #1abc9c; /* green background */
  color: white; /* white text color */
}
.header h1 {
  font-size: 50px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}
/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}
/* Main content */
.main {
  flex: 100%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 100px; /* Some padding */
  text-align: center;
}



.footer {
  padding: 20px; /* Some padding */
  background: #ddd; /* Grey background */
  margin-bottom:200px;
}


