/* Style for homepage */
.header {
  padding: 10px; 
  text-align: center; 
  background: #1abc9c;
}
.header h1 {
  font-size: 50px;
  font-family: arial;
  color: white;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden; 
  background-color: #696969;
}
/* Style the navigation bar links */
.navbar a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px; 
  text-decoration: none; 
  font-family: Arial;
}
.navbar a:hover {
  background-color: orange;
}

/* Main content */
.main { 
  padding: 200px; 
  text-align: center;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main h1{
	font-family: Arial;
	font-size: 40px;
    color: black;
}
.main p{
	font-family: Arial;
	font-size: 20px;
    color: black;
}
	
	
.footer {
  padding: 40px;
  background: #696969; 
}


/*Style for rent page*/

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 40px;
  padding: 20px;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.rent
{background-color: #FFF8DC;
  border: 2px solid black;
}

.rent figure{
    height:350px;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}
  
  .rent p{
	  font-family: Arial;
      font-size: 18px;
	  text-align: left;
}

/*Style for sale page*/

.flex-container {
  display: flex;
  flex-direction: column;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.sale
{background-color:#FFF8DC;
  width:70%;
  height:350px;
   margin: 20px;
  border: 2px solid black;
}

 .sale img{ 
  float:left;
   height:98%;
   width: 400px;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}
  
  .sale p{
    font-family: Arial;
       font-size: 18px;
     text-align: center;
     line-height: 20px;
}
/*Style for contact page*/
.contact{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 50px;
  background-color: white;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin:20px;
}
.contact_address{
  font-size: 18px;
  font-family: Arial;
  background-color: #F0F8FF;
  line-height:40px;
  
}
.contact_form{
  box-sizing: border-box;
 border: 2px solid #58257b;
 padding: 12px 20px;
 width:60%;
 background-image:url("background_color.jpg");  
}
.contact_form h4{
  font-family: Arial;
       font-size: 18px;
  text-align: center;
}
.contact_form input[type=text]{
  background-color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  font-family:Arial;
  border: 1px solid #58257b;
}
.contact_form textarea{
  background-color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  font-family:Arial;
  border: 1px solid #58257b;
}
.contact_form input[type=submit]{
  background-color: #D2691E;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
