/* Style for homepage */
header {
  padding: 10px; 
  text-align: center; 
  background: #FAFAD2;
}
header h1 {
  font-size: 50px;
  font-family: arial;
  color: #FF4500;
}
/* Style the top navigation bar */
nav {
  overflow: hidden; 
  background-color: #696969;
}
/* Style the navigation bar links */
nav a {
  float: left; 
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px; 
  text-decoration: none;
  font-family: Arial;
}
nav a:hover {
  background-color: orange;
}

/* Main content */
* {
  box-sizing: border-box;
}
main:after {
  content: "";
  display: table;
  clear: both;
}

aside {
   float: left;
  width: 30%;
  height: 400px;
  background: #ccc;
  padding: 20px;
  background-image:url("https://cdn.pixabay.com/photo/2017/11/16/16/29/real-estate-2955057_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position:center;
}
section {
  float: right;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 400px;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
section h2{
  font-family: Arial;
	font-size: 40px;
    color: black;
}
section p{
	font-family: Arial;
	font-size: 18px;
    color: black;
}

 /*Style for footer*/	
footer {
  padding: 20px;
  background: #708090; }
  
  /*Style for rent page*/

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 40px;
  padding: 20px;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.rent
{background-color: #FFF8DC;
  border: 2px solid black;
}

.rent figure{
    height:350px;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}
  
  .rent p{
	  font-family: Arial;
      font-size: 18px;
	  text-align: left;
}


/*Style for sale page*/

.flex-container {
  display: flex;
  flex-direction: column;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.sale
{background-color:#FFF8DC;
  width:70%;
  height:350px;
   margin: 20px;
  border: 2px solid black;
}

 .sale img{ 
  float:left;
   height:98%;
   width: 400px;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}
  
  .sale p{
    font-family: Arial;
       font-size: 18px;
     text-align: left;
     line-height: 20px;
}

/*Style for project page*/
.grid-project{
  display:grid;
  grid-template-columns: 80% 20%;
  grid-gap: 10px;
  background-color: white;
  margin:20px;
}
.main{
  margin-left:30px;
  margin-top:10px;
  background-color:#FFDEAD;
  font-family:arial;
  font-size:16px;
}

h1{
  color: blue;
  text-align:center;
}
.aside{
  background-color:#ADD8E6;
  margin-top:10px;
}

/*Style for contact page*/
.contact{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 50px;
  background-color: white;
  background-image:url("Real_estate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin:20px;
}
.contact_address{
  font-size: 18px;
  font-family: Arial;
  background-color: #F0F8FF;
  line-height:40px;
  
}
.contact_form{
  box-sizing: border-box;
 border: 2px solid #58257b;
 padding: 12px 20px;
 width:60%;
 background-color:#FFFACD;
}
.contact_form h4{
  font-family: Arial;
       font-size: 18px;
  text-align: center;
}
.contact_form input[type=text]{
  background-color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  font-family:Arial;
  border: 1px solid #58257b;
}
.contact_form textarea{
  background-color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  font-family:Arial;
  border: 1px solid #58257b;
}
.contact_form input[type=submit]{
  background-color: #D2691E;
  font-weight: bold;
}


/* For mobile phone */
@media (max-width: 700px) { 
section{
width:100%;
}
aside{
	display:none;
padding:0px;}

  .grid-container{	
  grid-template-columns: auto;
	}
  .rent img{
    max-width: 100%;
  }
  .grid-project{
	  grid-template-columns: auto;
  }
  .main{
  margin-left:0px;
  
  }
  .aside{
    margin-bottom: 10px;
  }
.contact{
    grid-template-columns: auto;}
  .contact_form{
    width: auto;
  }
	
.sale{
  background-color:#FFF8DC;
  width:100%;
  height:auto;
  margin: 20px;
  border: 2px solid black;
}
 .sale img{ 
  
   height:98%;
   max-width: 100%;
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
} 
  .sale p{
    font-family: Arial;
       font-size: 18px;
     text-align: left;
     line-height: 20px;
}	
  }


   
