
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
body {
  background-color: antiquewhite
}
p {
  color:black;
  text-align: justify
}
h1 {
  font-weight: bold;
  text-align: center;
  color:red;
}
img{
  width:200px;
  float: inherit;
  border-style:groove;
  border-width:4px;
  border-radius:10px;
}
h2{
  color: blue;
}
footer {
    margin-top: 64px;
}
