.flex-container {
  display: flex;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 500px;
  margin: 10px;
  text-align: left;
  line-height: 35px;
  font-size: 20px;
}
body {
  background-color: antiquewhite
}
p {
  color:black;
  text-align: justify
}
h1 {
  font-weight: bold;
  text-align: center;
  color:red;
}
img{
  width:200px;
  float: inherit;
  border-style:groove;
  border-width:4px;
  border-radius:10px;
}
h2{
  color: blue;
}
footer {
    margin-top: 64px;
}
